<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div id="preloader" class="preloader">
        <div class="loader-gplus"></div>
    </div>
    
    <div id="st-container" class="st-container">
        <div class="st-pusher">
            <div class="st-content">

                {% include top-section.html %}

                {% include post.html isStaticPost=page.isStaticPost %} 
                
                {% include footer.html %}

            </div>
        </div>
    </div>
</body>

</html>